{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nuevo Movimiento de Stock{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Registrar Movimiento de Stock</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.product|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.movement_type|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.unit_cost|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.supplier|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.reference_number|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.notes|as_crispy_field }}
                    
                    <div class="alert alert-info">
                        <i class="bi bi-info-circle"></i> 
                        <strong>Nota:</strong> Las cantidades positivas son entradas, negativas son salidas. 
                        El stock del producto se actualizará automáticamente.
                    </div>
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'movement_list' %}" class="btn btn-outline">Cancelar</a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check-lg"></i> Registrar Movimiento
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}